
__pycache__/

sequential_picking_task/assets/**
store_expert_data/**
experiments/**
LOG_FILES/**
QSUBS/**

train_from_demonstr/**
train_RL_DrQ/**
train_RL_DrQ_expert_obs_adv/**
train_RL_PPO/**
train_RL_PPO_expert_obs_adv/**
Figures/**

*.tar.xz
*.sh
*.mp4
